:root {
  --radius: 12px;
  --radius-lg: 20px;
  --radius-sm: 4px;
  
  --padding-xs: 4px;
  --padding-sm: 8px;
  --padding: 20px;
  --padding-lg: 32px;

  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 10px;
  --gap-normal: 12px;
  --gap-lg: 24px;

  --primary-color: #7479ff;
  --primary-color-light: #7479ffaa;

  --secondary-color-deep : #ffa812;
  --secondary-color : #ffdfbc;
  --secondary-color-light: #ffdfbcaa;

  --default-color: #eee;

  --transparent-color: #ffffff00;

  --background-color: #edeeff;
  --background-color-light: #edeeff99;

  --sm: 8px;
  --md: 12px;
  --normal: 16px;
  --lg: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #555;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  margin-top: 10px;
  z-index: 99998;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border: 3px solid white;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: black;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background-color);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  outline: none;
  border: none;
}

.grow {
  flex-grow: 1;
}

.bg-white {
  background-color: white;
}

.bg-gray {
  background-color: #bbb;
}

.bg-gray-light {
  background-color: #f0f0f0;
}

.bg-primary {
  background-color: var(--primary-color);
}

.bg-secondary {
  background-color: var(--secondary-color);
}

.bg-secondary-deep {
  background-color: var(--secondary-color-deep);
}

.btn-primary {
  background-color: var(--primary-color);
  cursor: pointer;
  transition: all 0.2s;
}

.btn-primary:hover{
  background-color: var(--primary-color-light);
}

.btn-secondary {
  background-color: var(--secondary-color);
  cursor: pointer;
  transition: all 0.2s;
}

.btn-secondary:hover{
  background-color: var(--secondary-color-light);
}

.btn-transparent {
  background-color: var(--transparent-color);
  cursor: pointer;
  transition: all 0.2s;
}

.btn-transparent:hover {
  background-color: var(--primary-color-light);
}

.btn-underline {
  background-color: white;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-underline:hover{
  text-decoration: underline;
}

.radius-full {
  border-radius: 100%;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: start;
}

.justify-end {
  justify-content: end;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-lg {
  border-radius: var(--radius-lg);
}

.rounded {
  border-radius: var(--radius);
}

.rounded-sm {
  border-radius: var(--radius-sm);
}

.border {
  border: 2px solid #eee;
}

.border-none {
  border: none;
  outline: none;
  resize: none;
}

.padding {
  padding: var(--padding);
}

.padding-xs{
  padding: var(--padding-xs);
}

.padding-sm {
  padding: var(--padding-sm);
}

.padding-lg {
  padding: var(--padding-lg);
}

.gap {
  gap: var(--gap-normal);
}

.gap-lg {
  gap: var(--gap-lg);
}

.gap-md {
  gap: var(--gap-md);
}

.gap-sm {
  gap: var(--gap-sm);
}

.gap-xs {
  gap: var(--gap-xs);
}

.relative {
  position: relative;
}

.absolute {
  position: absolute
}

.font-medium {
  font-weight: 500;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.text-sm {
  font-size: var(--sm);
}

.text-md {
  font-size: var(--md);
}

.text-lg {
  font-size: var(--lg);
}

.text-normal {
  font-size: var(--normal);
}

.text-gray {
  color: #bbb;
}

.text-primary {
  color : var(--primary-color)
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: auto auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-auto {
  overflow: auto;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
